.ProjectGalleryContainer{

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 20px;
margin: 10px;
width: 100%;
height: auto;
}

.imageItem{
    width: 400px ;
    height: 300px;
    
    
    }
    .imageWrappper{
        display: flex; 
        flex-direction: row;
        align-items: flex-start;  
        justify-content: space-between; 

    }
    .galleryItem{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
.itemText {
    text-align: center;
    color: blueviolet;
}






















