.ProjectGalleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: auto;
  background-color: darkslateblue;
}

.imageItemConfig {
  width: 31vw;
  height: 41vh;
  bo
}

.imageWrappper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 10px;

  
}
.galleryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.itemText {
  text-align: center;
  color: whitesmoke;
  background-color: unset ;
  box-shadow: cornflowerblue;
  text-shadow: 2px 2px 5px red
}
