.ProjectGalleryContainer{

display: flex;
flex-direction: row;
align-items: center;
justify-content: ;
}

.imageItem{
    width: 200px;
    height: 150px;
    
    
    }
    .imageWrappper{
        display: flex; 
        flex-direction: column;          
    }
























