.ProjectGalleryContainer{

display: flex;
flex-direction: row;
}

.imageItem{
    width: 200px;
    height: 150px;
    
    
    }
    .imageWrappper{
        display: flex; 
        flex-direction: r;          
    }
























