
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: center;
}


.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
}


.About_text{
font-size: x-large;
}
 
.about_image{

object-fit: contain;
}