.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: center;
  
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  font-size: 25px;
  margin: 20px;
  padding: 10px;
}

.About_text {
  font-size: x-large;
  margin-top: 40px;
  background-color: black;
}

.about_image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 50vh;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.About_container {
  background-color: aquamarine;
  padding: 20px;
}

.Project_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.brief_about {
  background-color: beige;
  padding: 200px;
  margin: 20px;
}

.Homepage_services {
  background-color: navy;
  padding: 50px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gallery {
  
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 300px;
  
  
}
  
.gallery:hover {
  border: 1px solid #777;
  width: 100%;
  height: 100%;
}

gallery img {
  width: 100%;
  height: auto;
  color: rgb(28, 93, 136);
}   

.desc {
  padding: 15px;
  text-align: center;
}
.services_text{
text-align: center;

}

.navbar {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}


.projects_heading{

width: 100%;
height: 200px;

}
Project_gallery
