.Footer {
  background-color: blue;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
justify-content: ;
  
}

.addressWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
  flex: 1;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
